.carousalWrap {
    width: 61rem;
    aspect-ratio: 4 / 5;
    position: relative;
}

.carousal {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 1.6rem;
}

.carousal::-webkit-scrollbar {
    display: none;
}

.carousalTrack {
    display: flex;
    transition: transform 0.35s ease;
}

.slide {
    min-width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    border-radius: 1.6rem;
}

.arrowWrap {
    position: absolute;
    inset: auto 2.8rem 1.8rem 2.8rem;
    display: flex;
    justify-content: space-between;
}

.rightArrow,
.leftArrow {
    cursor: pointer;
}

.dotWrap {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.dot {
    width: 1rem;
    height: 1rem;
    border: 0.152rem solid var(--primary-color);
    border-radius: 50%;
    cursor: pointer;
}

.activeDot {
    background-color: var(--primary-color);
}


/* ======================== Thumbnail ======================== */

.thumbnail {
    width: 100%;
    max-width: 61rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
}

.thumbnail div {
    width: calc(25% - 1.2rem);
    aspect-ratio: 1/1;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.6rem;
    display: block;
}

.activeThumbnail {
    border: 0.35rem solid var(--secondary-color);
    border-radius: 1.9rem;
    box-shadow: 0 0 1rem 0.3rem rgba(0, 0, 0, 0.2);
}

/* ======================== Thumbnail ======================== */

@media (max-width: 850px) {
    .carousalWrap{
        width: 40rem;
    }
}