.carousal {
    width: 61rem;
    height: 67rem;
    display: flex;
    gap: 5rem;
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: 1.6rem;
}

.carousal::-webkit-scrollbar {
    display: none;
}

.carousal div {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center
}

.carousal div img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: center;
}

.carousalWrap{
    width: fit-content;
    height: fit-content;
    position: relative;
}

.arrowWrap {
    position: absolute;
    inset: auto 2.8rem 1.8rem 2.8rem;
    display: flex;
    justify-content: space-between;
}


/* ======================== Thumbnail ======================== */

.thumbnail {
    width: calc((13rem * 4) + (3rem * 3));
    height: calc((13rem * 2) + (3rem * 1));
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 3rem;
}

.thumbnail div {
    width: 13rem;
    height: 13rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.6rem;
    display: block;
}
