.carousalWrap {
    width: 61rem;
    aspect-ratio: 4/5;
    position: relative;
}

.carousal {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: 1.6rem;
}

.carousal::-webkit-scrollbar {
    display: none;
}

.carousalTrack {
    display: flex;
    transition: all 0.3s ease-in-out;
}

.slide {
    width: 100%;
    flex-shrink: 0;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    border-radius: 1.6rem;
}

.arrowWrap {
    position: absolute;
    inset: auto 2.8rem 1.8rem 2.8rem;
    display: flex;
    justify-content: space-between;
}

.rightArrow,
.leftArrow {
    cursor: pointer;
}

.dotWrap {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.dot {
    width: 1rem;
    height: 1rem;
    border: 0.152rem solid var(--primary-color);
    border-radius: 50%;
    cursor: pointer;
}

.activeDot {
    background-color: var(--primary-color);
}


/* ======================== Thumbnail ======================== */

.thumbnail {
    width: calc((13rem * 4) + (3rem * 3));
    height: calc((13rem * 2) + (3rem * 1));
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 3rem;
    transition: all 0.3s ease-in-out;
}

.thumbnail div {
    width: 13rem;
    height: 13rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    cursor: pointer;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.6rem;
    display: block;
}

.activeThumbnail {
    border: 0.35rem solid var(--secondary-color);
    border-radius: 1.9rem;
    box-shadow: 0 0 1rem 0.3rem rgba(0, 0, 0, 0.2);
}