@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oxanium:wght@200..800&display=swap');

@import './variables.css';
@import './navAndFoot.css';
@import './carousal.css';
@import './table.css';

/* ======================== Showcase ======================== */

.showcase {
    width: 100%;
    aspect-ratio: 16 / 9;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url('../assets/showcaseBG.png');
    background-size: cover;
    background-position: bottom;
}

.showcaseText {
    margin-top: 11rem;
}

.awardText {
    width: 35.6rem;
    height: 4rem;
    border-radius: 2rem;
    padding: 0.8rem 1.6rem;
    display: flex;
    gap: 0.6rem;
    align-items: center;
    background: linear-gradient(180deg, rgba(3, 46, 21, 0.6) 0%, rgba(1, 102, 48, 0.6) 100%);
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 100%;
    color: var(--text-light);
}

.headText {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 5.6rem;
    line-height: 112%;
    letter-spacing: -0.13rem;
    margin-top: 2.7rem;
}

.headDetails {
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-top: 4rem;
}

.headDetails .power {
    width: 15rem;
}

.headDetails .ingredients {
    width: 13rem;
}

.headDetails p {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 2.2rem;
    line-height: 104%;
}

.headDetails p span {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 7.2rem;
    line-height: 100%;
    letter-spacing: 0.4rem;
    background: linear-gradient(180deg, rgba(3, 46, 21, 0.6) 0%, rgba(1, 102, 48, 0.6) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.showBTN {
    width: 18.5rem;
    height: 4.8rem;
    border-radius: 10rem;
    padding: 1.2rem 1.6rem;
    margin-top: 4rem;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1.82rem;
    color: var(--text-light);
    background: linear-gradient(180deg, var(--primary-color) 0%, var(--secondary-color) 100%);
    border: none;
    overflow: hidden;
    cursor: pointer;
}

/* ======================== Product Display ======================== */

.product {
    margin-top: 15rem;
    margin-bottom: 15rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 10.8rem
}

.productRight {
    width: 100%;
}

.rating {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 0.8rem;
    margin-bottom: 2rem;
}

.stars {
    font-size: 2rem;
    display: inline-block;
}

.stars::before {
    content: "★★★★★";
    letter-spacing: 0.3rem;
    background: linear-gradient(90deg,
            var(--green-stars) calc(var(--rating) / 5 * 100%),
            var(--grey-stars) calc(var(--rating) / 5 * 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.reviews {
    margin-top: 0.3rem;
    font-weight: 300;
    line-height: 100%;
}

.prodDesc {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 2rem;
}

/* ======================== Collection Display ======================== */

.collection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 11.4rem;
    margin-bottom: 10rem;
}

.collectionRight {
    width: 59rem;
    height: 71rem;
}

.collectionRight img {
    width: 100%;
    aspect-ratio: 5/6;
    object-fit: cover;
    border-radius: 3rem;
}

.collectionLeft {
    width: 62rem;
}

.accordian {
    margin-top: 3.3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.accordianItem {
    border: 0.1rem solid var(--border-grey);
    border-radius: 0.8rem;
}

.accmain {
    padding: 2.4rem 3.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accHead {
    font-weight: 700;
    font-size: 2rem;
    line-height: 0.3rem;
    cursor: pointer;
}

.accText {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 2rem;
    padding: 2.4rem;
    display: none;
}

.plus,
.minus {
    cursor: pointer;
}

.minus {
    display: none;
}

.accActive .accText {
    display: block;
}

.accActive .accmain .acctoggle .plus {
    display: none;
}

.accActive .accmain .acctoggle .minus {
    display: block;
}

#collectionImg {
    transition: opacity 0.5s ease;
}

#collectionImg.fade-out {
    opacity: 0;
}

/* ======================== Stats Display ======================== */

.stats {
    width: 100%;
    height: 20rem;
    background: linear-gradient(180deg, var(--primary-color) 0%, var(--secondary-color) 100%);
    margin-bottom: 7rem;
}

.statWrap {
    height: 100%;
    color: var(--text-light);
    display: flex;
    gap: 8.6rem;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.stat h1 {
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 1.2rem;
}

.stat p {
    font-weight: 300;
    font-size: 1.4rem;
}

/* ======================== Table ======================== */

.tableWrap {
    text-align: center;
    margin-bottom: 10.4rem
}

.tableWrap h1 {
    margin-top: 3rem;
    font-weight: 600;
    font-size: 3.6rem;
    margin-bottom: 6.5rem;
}

.seperator::after {
    content: "---";
    font-family: "Oxanium", sans-serif;
    font-weight: 300;
    font-size: 4rem;
    color: var(--primary-color);
}

.tryBTN {
    width: 19.4rem;
    height: 5.6rem;
    border-radius: 3rem;
    padding: 1.2rem 2.4rem;
    line-height: 3.2rem;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: var(--text-light);
    background: linear-gradient(180deg, var(--primary-color) 0%, var(--secondary-color) 100%);
    border: none;
    overflow: hidden;
    cursor: pointer;
}