.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
}

.logo {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 3rem;
    line-height: 150%;
    background: linear-gradient(180deg, rgba(3, 46, 21, 0.6) 0%, rgba(1, 102, 48, 0.6) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.navMenu {
    display: flex;
    align-items: center;
    gap: 3.2rem
}

.navMenu .navItem a {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    color: var(--primary-color)
}

.navMenu .shop {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.navActions {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.shopBTN {
    width: 15rem;
    height: 5rem;
    border-radius: 55rem;
    padding: 1.6rem 2.8rem;
    line-height: 1.618rem;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1.82rem;
    color: var(--text-light);
    background: linear-gradient(180deg, var(--primary-color) 0%, var(--secondary-color) 100%);
    border: none;
    overflow: hidden;
    cursor: pointer;
}

