*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

ul,
li {
    list-style: none;
}

a {
    height: inherit;
    text-decoration: none;
}

body {
    font-size: 1.6rem;
    font-family: "Inter", sans-serif;
    color: var(--primary-color)
}

/* ======================== Color ======================== */

:root{
    --primary-color: #032E15;
    --secondary-color: #016630;
    --green-stars: #00c950;
    --grey-stars: #b6b6b6;
    --text-light: #FFFFFF;
    --border-grey: #d6d6d6;
    --table-margin: #666666;
    --gtg-table-bg: #F0FDF4;
    --subs-btn: #653B09;
    --frag-bg-grey: #f9f9f9;
    --text-grey: #6F7577;

}

/* ======================== Container ======================== */

.container{
    max-width: 1850px;
    width: 90%;
    margin: 0 auto;
}

.container2{
    max-width: 1600px;
    width: 90%;
    margin: 0 auto;
}

.container3{
    max-width: 1150px;
    width: 90%;
    margin: 0 auto;
}

.container4{
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
}